<h1>Listing villas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Destination</th>
    <th>Sleeps</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>Content</th>
    <th>Rates</th>
    <th>Observations</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @villas.each do |villa| %>
  <tr>
    <td><%= villa.name %></td>
    <td><%= villa.destination %></td>
    <td><%= villa.sleeps %></td>
    <td><%= villa.bedrooms %></td>
    <td><%= villa.bathrooms %></td>
    <td><%= truncate(strip_tags(villa.content), :length => 42) %></td>
    <td><%= villa.rates %></td>
    <td><%= villa.observations %></td>
    <td><%= villa.latitude %></td>
    <td><%= villa.longitude %></td>
    <td><%= villa.gmaps %></td>
    <td><%= link_to 'Show', villa %></td>
    <td><%= link_to 'Edit', edit_villa_path(villa) %></td>
    <td><%= link_to 'Destroy', villa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Villa', new_villa_path %>
